@import url("../css/fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  /*      Theme colors        */
  --text-gray: #3f4954;
  --text-light: #686666da;
  --bg-color: #0f0f0f;
  --white: #ffffff;
  --midnight: #104f55;

  /* gradient color   */
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  /*      theme font-family   */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
}

/* ---------------- Global Classes ---------------*/

a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--Lexend);
  font-size: 2.5rem;
}

h2 {
  font-family: var(--Lexend);
}

h3 {
  font-family: var(--Abel);
  font-size: 1.3rem;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: var(--Livvic);
  cursor: pointer;
}

span {
  font-family: var(--Abel);
}

.container {
  margin: 0 5vw;
}

.text-gray {
  color: var(--text-gray);
}

p {
  font-family: var(--Lexend);
  color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

nav.nav {
  background: white;
  padding: 0 2rem;
  min-height: 10vh;
  position: fixed !important;
  width: 100%;
  z-index: 2;
}

.nav .nav-menu {
  justify-content: space-between;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  width: 90%;
  cursor: pointer;
  display: none;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--text-gray) !important;
}

.collapse {
  height: 30rem;
}

.nav .nav-items {
  display: flex;
  margin: 0;
}

.nav .nav-items .nav-link {
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--Abel);
  font-size: 1.1rem !important;
}

.nav .nav-items .nav-link:hover {
  background-color: var(--midnight) !important;
}

.nav .nav-items .nav-link:hover a {
  color: var(--white) !important;
}

.nav .nav-brand a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  font-family: var(--Lexend) !important;
  font-size: 1.6rem;
}

.nav .social {
  padding: 1.4rem 0;
}

.nav .social i {
  padding: 0 0.2rem;
}

.nav .social i:hover {
  color: #a1c4cf;
}

/* -------x------- navbar ---------x------- */

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title {
  background: url("../assets/bg1.jpg");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
  animation: slideshow 20s 4s infinite;
  margin-top: 70px;
}

@keyframes slideshow {

  0%,
  50% {
    background-image: url(../assets/bg4.jpg);
  }

  50% {
    background-image: url(../assets/bg2.jpg);
  }

  75% {
    background-image: url(../assets/bg3.jpg);
  }

  100% {
    background-image: url(../assets/bg1.jpg);
  }
}

main .site-title .site-background {
  padding-top: 10rem;
  text-align: center;
  color: var(--white);
}

main .site-title h1,
h3 {
  margin: 0.3rem;
}

main .site-title .btn {
  margin: 1.8rem;
  background: var(--sky);
}

main .site-title .btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

/* --------x------ Site title --------x------- */

/* ----------------- Start About Area ---------------- */

.about-section {
  width: 100%;
  background: #ffffff;
  padding: 60px 0;
  margin-top: 80px;
}

.inner-width {
  max-width: 1000px;
  overflow: hidden;
  padding: 0 20px;
  margin: auto;
}

.about-section h1 {
  text-align: center;
}

.border {
  width: 100px;
  height: 3px;
  background: rgb(196, 196, 196);
  margin: 40px auto;
}

.about-section-row {
  display: flex;
  flex-wrap: wrap;
}

.about-section-col {
  flex: 50%;
}

.about {
  padding-right: 50px;
}

.about p {
  text-align: justify;
  margin-bottom: 40px;
}

.about a:hover {
  color: rgb(255, 255, 255);
  background: rgb(79, 214, 255);
}

.content {
  float: left;
  font-size: 15px;
  line-height: 40px;
  margin-top: -10px;
  position: relative;
  width: 500px;
}

.col {
  width: 500px;
}

.col h2 {
  display: block;
  padding-bottom: 50px;
  font-size: 30px;
}

.about img {
  box-shadow: 0 0 0 5px white, 0 0 0 10px #34495e;
  border: 2px solid #34495e;
  position: static;
  margin-left: 40px;
  margin-bottom: 20px;
}

#skill {
  list-style: none;
}

#skill li {
  background: rgb(255, 255, 255);
  height: 10px;
  margin-bottom: 70px;
  border-radius: 5px;
  border: 1px solid #666;
}

#skill li em {
  position: relative;
  top: -35px;
}

.expand {
  height: 6px;
  background-color: rgb(79, 214, 255);
  margin: 3px 0;
  position: absolute;
  animation: progress 3s linear;
  border-radius: 5px;
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

/* --------------- Finish About Area ----------*/

/* --------------- Blog Carousel ------------ */

main .blog {
  background: url("../assets/Abract01.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 65%;
  margin-top: 70px;
}

main .blog .blog-post {
  padding-top: 6rem;
}

main .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .blog-content .blog-title {
  padding: 2rem 0;
}

main .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: var(--sky);
  margin: 0.5rem;
}

main .blog-content span {
  display: block;
}

section .container .owl-nav {
  position: absolute;
  top: 0%;
  margin: 0 auto;
  width: 100%;
}

.owl-nav .owl-prev .owl-nav-prev,
.owl-nav .owl-next .owl-nav-next {
  color: var(--text-gray);
  background: transparent;
  font-size: 2rem;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: var(--midnight);
}

.owl-theme .owl-nav [class*="owl-"] {
  outline: none;
}

/* -------x------- Blog Carousel -----x------ */

/* ---------------- Site Content ----------------*/

main .site-content {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 70px;
}

main .post-content {
  width: 100%;
}

main .site-content .post-content>.post-image,
.post-title {
  padding: 1rem 2rem;
  position: relative;
}

main .site-content .post-content>.post-image .post-info {
  background: var(--sky);
  padding: 1rem;
  position: absolute;
  bottom: 0%;
  left: 20vw;
  border-radius: 3rem;
}

main .site-content .post-content>.post-image>div {
  overflow: hidden;
}

main .site-content .post-content>.post-image .img {
  width: 100%;
  transition: all 1s ease;
}

main .site-content .post-content>.post-image .img:hover {
  transform: scale(1.3);
}

main .site-content .post-content>.post-image .post-info span {
  margin: 0 0.5rem;
}

main .post-content .post-title a {
  font-family: var(--Anton);
  font-size: 1.5rem;
}

.site-content .post-content .post-title .post-btn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: var(--sky);
}

.site-content .pagination {
  justify-content: center;
  color: var(--text-gray);
  margin: 4rem 0;
}

.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  font-family: var(--Lexend);
}

.site-content .pagination .pages {
  background: var(--text-gray);
  color: var(--white);
}

/* -------x-------- Site Content --------x-------*/

/* --------------- Sidebar ----------------------- */

.site-content>.sidebar .category-list {
  font-family: var(--Livvic);
}

.site-content>.sidebar .category-list .list-items {
  background: var(--sky);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.site-content>.sidebar .category-list .list-items a {
  color: black;
}

.site-content .sidebar .popular-post .post-content {
  padding: 1rem 0;
}

.site-content .sidebar .popular-post h2 {
  padding-top: 8rem;
}

.site-content .sidebar .popular-post .post-info {
  padding: 0.4rem 0.1rem !important;
  bottom: 0rem !important;
  left: 1.5rem !important;
  border-radius: 0rem !important;
  background: white !important;
}

.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}

.site-content .sidebar .newsletter {
  padding-top: 10rem;
}

.site-content .sidebar .newsletter .form-element {
  padding: 0.5rem 2rem;
}

.site-content .sidebar .newsletter .input-element {
  width: 80%;
  height: 1.9rem;
  padding: 0.3rem 0.5rem;
  font-family: var(--Lexend);
  font-size: 1rem;
}

.site-content .sidebar .newsletter .form-btn {
  border-radius: 0;
  padding: 0.8rem 32%;
  margin: 1rem 0;
  background: var(--sky);
}

.site-content .sidebar .popular-tags {
  padding: 5rem 0;
}

.site-content .sidebar .popular-tags .tags .tag {
  background: var(--sky);
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}

/* -------x------- Sidebar -----------x----------- */

/* ---------x-------- Portfolio ---------x------- */

.portfolio {
  background-color: #eee;

}

.img-atas img {
  width: 200px;
}

.img-bawah img {
  width: 400px;
}

.portfolio h2 {
  margin-bottom: 3rem !important;
  margin-top: 100px !important;
}

.portfolio hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.portfolio .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio .mt-5,
.portfolio .my-5 {
  margin-top: 3rem !important;
}

.portfolio .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio .col-md-4,
.portfolio .col-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.portfolio .text-center {
  text-align: center !important;
}

.portfolio .my-foap a {
  color: #000;
  text-decoration: none;
}

.portfolio .my-foap {
  width: fit-content;
  margin: 0 auto 35px;
  padding: 20px;
  background: var(--sky);
  color: #000;
  border-radius: 15px;
}

.portfolio .my-foap:hover {
  filter: hue-rotate(-30deg);
  box-shadow: 0 0 10px skyblue;
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  /* ----------x-------- Portfolio -------x-------- */

  /* -------x------- Contact Us ---------x---------- */

  * {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
  }

  .contact-section {
    background: url(../assets/contact.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    margin-top: 70px;
  }

  .contact-section h1 {
    text-align: center;
    color: #ddd;
  }

  .border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }

  .contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }

  .contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }

  .contact-form-text:focus {
    box-shadow: 0 0 10px 4px #34495e;
  }

  textarea.contact-form-text {
    resize: none;
    height: 120px;
  }

  .contact-form-btn {
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .contact-form-btn:hover {
    background: #2980b9;
  }

  /*--------x------- Contact Us -------x------ */

  /* ---------x------- Main Content -----x----- */

  /* ----------------- Footer --------------------- */

  footer.footer {
    height: 100%;
    background: var(--bg-color);
    position: relative;
  }

  footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 0.9rem;
  }

  footer.footer .container h2 {
    color: var(--white);
  }

  footer.footer .newsletter .form-element {
    background: black;
    display: inline-block;
  }

  footer.footer .newsletter .form-element input {
    padding: 0.5rem 0.7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
  }

  footer.footer .newsletter .form-element span {
    background: var(--sky);
    padding: 0.5rem 0.7rem;
    cursor: pointer;
  }

  footer.footer .instagram div>img {
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: 0.3rem 0.4rem;
  }

  footer.footer .follow div i {
    color: var(--white);
    padding: 0 0.4rem;
  }

  footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
  }

  footer.footer .rights h4 a {
    color: var(--white);
  }

  footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
  }

  footer.footer .move-up span {
    color: var(--midnight);
  }

  footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
  }

  /* ---------x------- Footer ----------x---------- */

  /*              Viewport less then or equal to 1130px            */

  @media only screen and (max-width: 1130px) {
    .site-content .post-content>.post-image .post-info {
      left: 2rem !important;
      bottom: 1.2rem !important;
      border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info {
      display: none !important;
    }

    footer.footer .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /*      x       Viewport less then or equal to 1130px    x     */

  /*              Viewport less then or equal to 750px            */

  @media only screen and (max-width: 750px) {

    .nav .nav-menu,
    .nav .nav-items {
      flex-direction: column;
    }

    .nav .toggle-collapse {
      display: initial;
    }

    main .site-content {
      grid-template-columns: 100%;
    }

    footer.footer .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  @media only screen and (max-width: 520px) {
    main .blog {
      height: 125vh;
    }

    .site-content .post-content>.post-image .post-info {
      display: none;
    }

    footer.footer .container>div {
      padding: 1rem 0.9rem !important;
    }

    footer .rights {
      padding: 0 1.4rem;
      text-align: center;
    }

    nav .toggle-collapse {
      width: 80% !important;
    }
  }
}